.gradle/
/local.properties
/.idea/workspace.xml
/.idea/gradle.xml
/.idea/libraries
.DS_Store
build/
*.iml

.idea/.name
.idea/codeStyleSettings.xml
.idea/compiler.xml
.idea/copyright/
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
captures/
config/quality/checkstyle/
config/quality/findbugs/
config/quality/pmd/
espressofirsttest/libs/
espressofirsttest/src/main/res/drawable/
libgraphview/
libplotspectra/src/main/res/drawable/
libplotspectrav3/src/main/res/drawable/
libprefs/libs/
libprefs/src/main/res/drawable/
libspectrafiles/libs/
libspectrafiles/src/main/res/drawable/
libtouch/libs/
libtouch/src/main/res/drawable/
plottest/src/main/res/drawable/
touch_lib/libs/
touch_lib/src/main/res/drawable/
touchtest/libs/
touchtest/src/main/java/
touchtest/src/main/res/drawable/
